<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="/public/images/ico.png">
    <title>Ficha</title>
</head>

<body>

    <div class="container col-md-12">
        <form action="/ficha_veloe" method="POST">
            <div class="container-fluid">
                <div class="container-fluid col-md-8"
                    style="margin-top: 40px; margin-bottom: 10px; padding: 20px;border-radius: 8px;border-left-width:3px;border-bottom-width:3px;border-right-width:3px;border-top-width: 9px;border-top-color:darkviolet;border-right: white;border-left-color: white;border-bottom-color: white; border-style: solid;background-color: white;">
                    <div class="d-flex justify-content-center col-md-12"
                        style="font-family: Verdana, Geneva, Tahoma, sans-serif; padding-bottom: 20px;">
                        <h2><b>Ficha Veloe</b></h2>
                    </div>
                </div>

                <div id="accordion" class="container-fluid col-md-8"
                    style="margin-top: 10px; margin-bottom: 10px; padding: 20px;border-radius: 8px;border-left-width:5px;border-bottom-width:3px;border-right-width:3px;border-top-width: 3px;border-top-color:white;border-right: white;border-left-color: cornflowerblue;border-bottom-color: white; border-style: solid;background-color: white;">
                    <div class="card-header" id="headingOne">
                        <button disabled class="btn btn-outline-secondary dropdown-toggle" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                            style="border-color: whitesmoke;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            DADOS DO CONTRATANTE
                        </button>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion"
                        style="margin-top: 15px;">
                        <div class="card-body">

                            <div class="card col-md-12" style="margin-bottom: 15px; padding: 15px;">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="name">CNPJ do Contratante</label>
                                            <input type="text" name="CNPJ" id="D15" class="form-control">
                                        </div>

                                        <div class="col-md-6">
                                            <label for="name">Nome Fantasia</label>
                                            <input type="text"  name="NOME_FANTASIA" id="D16" maxlength="20"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8" style="margin-top: 15px;">
                                    <label for="name">Razão Social</label>
                                    <input type="text" name="RAZAO_SOCIAL" id="D17" maxlength="40" class="form-control">
                                </div>

                                <div class="col-md-12">
                                    <div class="row" style="margin-top: 15px;">
                                        <div class="form-group col-4">
                                            <label for="name">Inscrição Municipal</label>
                                            <input type="text" class="form-control" id="D18" maxlength="20" name="INSCRICAO_MUNICIPAL">
                                        </div>
                                        <div class="col-3">
                                            <label for="name">Tipo de Empresa</label>
                                            <select class="custom-select" name="TIPO_EMPRESA">
                                                <option selected> </option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                            </select>

                                        </div>
                                        <div class="col-5">
                                            <label for="name">Faturamento Médio Mensal</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                            <input type="text" name="FATURAMENTO_MEDIO_MENSAL" id="D19" maxlength="13" class="form-control"
                                                aria-label="Amount (to the nearest dollar)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="name">Endereço</label>
                                    <input type="text" class="form-control" id="D22" name="NOME_LOGRADOURO" maxlength="50">
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group col-3 col-md-3">
                                            <label for="name">Número</label>
                                            <input type="text" class="form-control" id="D23" name="NUMERO_LOGRADOURO" maxlength="5">
                                        </div>
                                        <div class="form-group col-6 col-md-4">
                                            <label for="name">Complemento</label>
                                            <input type="text" class="form-control" id="D24" name="COMPLEMENTO_LOGRADOURO" maxlength="25">
                                        </div>
                                        <div class="form-group col-6 col-md-5">
                                            <label for="name">Municipio</label>
                                            <input type="text" class="form-control" id="D25" name="MUNICIPIO_LOGRADOURO" maxlength="28">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="name">Bairro</label>
                                            <input type="text" class="form-control" id="D26" name="BAIRRO_LOGRADOURO" maxlength="30">
                                        </div>
                                        <div class="col-3">
                                            <label for="name">UF</label>
                                            <select class="custom-select" name="UF" id="inputGroupSelect04">
                                                <option selected>  </option>
                                                <option value="1">AC</option>
                                                <option value="2">AL</option>
                                                <option value="3">AM</option>
                                                <option value="4">AP</option>
                                                <option value="5">BA</option>
                                                <option value="6">CE</option>
                                                <option value="7">DF</option>
                                                <option value="8">ES</option>
                                                <option value="9">GO</option>
                                                <option value="10">MA</option>
                                                <option value="11">MG</option>
                                                <option value="12">MS</option>
                                                <option value="13">MT</option>
                                                <option value="14">PA</option>
                                                <option value="15">PB</option>
                                                <option value="16">PE</option>
                                                <option value="17">PI</option>
                                                <option value="18">PR</option>
                                                <option value="19">RO</option>
                                                <option value="20">RJ</option>
                                                <option value="21">RN</option>
                                                <option value="22">RR</option>
                                                <option value="23">RS</option>
                                                <option value="24">SC</option>
                                                <option value="25">SE</option>
                                                <option value="26">SP</option>
                                                <option value="27">TO</option>
                                            </select>
                                        </div>
                                        <div class="col-3">
                                            <label for="name">CEP</label>
                                            <input type="text" class="form-control" name="CEP" id="D27" maxlength="8">
                                        </div>

                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col-12 col-md-8"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="accordion2" class="container-fluid col-md-8"
                    style="margin-top: 10px; margin-bottom: 10px; padding: 20px;border-radius: 8px;border-left-width:5px;border-bottom-width:3px;border-right-width:3px;border-top-width: 3px;border-top-color:white;border-right: white;border-left-color: cornflowerblue;border-bottom-color: white; border-style: solid;background-color: white;">
                    <div class="card-header" id="headingTwo">
                        <button disabled class="btn btn-outline-secondary dropdown-toggle" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne"
                            style="border-color: whitesmoke;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            CONTATOS
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion2">
                        <div class="card-body">
                            <div class="card col-md-12"
                                style="margin-bottom: 15px; margin-bottom: 15px; padding: 15px;">
                                <div class="col-md-12" style="margin-top: 15px;">
                                    <div class="row">
                                        <div class="col-6 col-md-5">
                                            <label for="name">CPF Representante Legal</label>
                                            <input type="text" name="CPF_REPRESENTANTE" id="D21" maxlength="15" class="form-control">
                                        </div>
                                        <div class="col-6 col-md-6">
                                            <label for="name">Tipo de relação do representante Legal</label>
                                            <select class="custom-select" name="RELACAO_REPRESENTANTE_LEGAL" id="inputGroupSelect04">
                                                <option selected> </option>
                                                <option value="1">Proprietário</option>
                                                <option value="2">Diretoria</option>
                                                <option value="3">Gerência</option>
                                                <option value="4">Supervisão</option>
                                                <option value="5">Outros</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top: 15px;">
                                    <div class="row">
                                        <div class="form-group col-6 col-md-3">
                                            <label for="name">DDD Principal</label>
                                            <input type="text" class="form-control" id="D28" name="DDD_PRINCIPAL" maxlength="5">
                                        </div>
                                        <div class="form-group col-6 col-md-3">
                                            <label for="name">Telefone Principal</label>
                                            <input type="text" class="form-control" id="D29" name="TELEFONE_PRINCIPAL" maxlength="12">
                                        </div>
                                        <div class="form-group col-6 col-md-3">
                                            <label for="name">Ramal Principal</label>
                                            <input type="text" class="form-control" id="D30" name="RAMAL_PRINCIPAL" maxlength="6">
                                        </div>
                                        <div class="form-group col-6 col-md-3">
                                            <label for="name">Vinculo com a Empresa</label>
                                            <input type="date" class="form-control" name="DATA_VINCULO_EMPRESA" maxlength="8" tyle="margin-top: 15px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <label for="name">Nome Representante</label>
                                    <input type="text" name="NOME_REPRESENTANTE" id="D31" maxlength="35" class="form-control">
                                </div>

                                <div class="col-md-8" style="margin-top: 15px">
                                    <label for="name">Email Representante</label>
                                    <input type="email" class="form-control" style="text-transform: uppercase;" name="EMAIL_REPRESENTANTE" maxlength="40">
                                </div>
                                <div class="col-md-12" style="margin-top: 15px;">
                                    <div class="row">
                                        <div class="form-group col-6 col-md-3">
                                            <label for="name">DDD Contato</label>
                                            <input type="text" class="form-control" id="D32" name="DDD_CONTATO" maxlength="5">
                                        </div>
                                        <div class="form-group col-6 col-md-3">
                                            <label for="name">Telefone Contato</label>
                                            <input type="text" class="form-control" id="D33" name="TELEFONE_CONTATO" maxlength="12">
                                        </div>
                                        <div class="form-group col-6 col-md-3">
                                            <label for="name">Ramal Contato</label>
                                            <input type="text" name="RAMAL_CONTATO" id="D34" maxlength="6" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <label for="name">Nome Contato Empresarial</label>
                                    <input type="text" name="NOME_CONTATO" id="D35" maxlength="35" class="form-control">
                                </div>

                                <div class="col-md-8" style="margin-top: 15px">
                                    <label for="name">Email Contato Empresarial</label>
                                    <input type="email" class="form-control" style="text-transform: uppercase;">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="accordion3" class="container-fluid col-md-8"
                    style="margin-top: 10px; margin-bottom: 10px; padding: 20px;border-radius: 8px;border-left-width:5px;border-bottom-width:3px;border-right-width:3px;border-top-width: 3px;border-top-color:white;border-right: white;border-left-color: cornflowerblue;border-bottom-color: white; border-style: solid;background-color: white;">
                    <div class="card-header" id="headingTree">
                        <button disabled class="btn btn-outline-secondary dropdown-toggle" data-toggle="collapse"
                            data-target="#collapseTree" aria-expanded="true" aria-controls="collapseTree"
                            style="border-color: whitesmoke;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            PRODUTO CONTRATADO
                        </button>
                    </div>
                    <div id="collapseTree" class="collapse show" aria-labelledby="headingTree"
                        data-parent="#accordion3">

                        <div class="card-body">
                            <div class="card" style="border-color: white; text-align: center;">
                                <H5>Pré Pago</H5>
                            </div>
                            <div class="card col-md-12" style="padding: 15px;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="name">Quantidade Total Veiculos</label>
                                        <input type="text" name="QUANTIDADE_TOTAL_VEICULOS" id="D20" maxlength="6" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="name">Valor de Recarga</label>
                                        <input type="text" name="VALOR_RECARGA" id="D43" maxlength="10" class="form-control">
                                    </div>
                                    <div class="col-4 col-md-4">
                                        <label for="name">Meio de Pagamento</label>
                                        <select class="custom-select" name="MEIO_PAGAMENTO_PRE" id="inputGroupSelect04">
                                            <option selected></option>
                                            <option value="1">Crédito em Conta</option>
                                            <option value="2">Débito em Conta</option>
                                            <option value="3">Cobrança Bancária</option>
                                            <option value="4">Cartão de Crédito</option>
                                            <option value="5">Boleto Web</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="border-color: white; text-align: center;margin-top: 15px;">
                                <H5>Pós Pago</H5>
                            </div>
                            <div class="card col-md-12" style="padding: 15px;">

                                <div class="row">
                                    <div class="col-6 col-md-6">
                                        <label for="name">Limite Veloe</label>
                                        <input type="text" class="form-control" name="LIMITE_CREDITO" maxlength="13">
                                    </div>
                                    <div class="col-6 col-md-6 ml-auto">
                                        <label for="name">Meio de Pagamento</label>
                                        <select class="custom-select" name="MEIO_PAGAMENTO_POS" id="inputGroupSelect04">
                                            <option selected> </option>
                                            <option value="1">Crédito em Conta</option>
                                            <option value="2">Débito em Conta</option>
                                            <option value="3">Cobrança Bancária</option>
                                            <option value="4">Cartão de Crédito</option>
                                            <option value="5">Boleto Web</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-md-2" style="margin-top: 15px;margin-bottom: 15px;">
                                        <label for="name">Banco</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-6 col-md-2" style="margin-top: 15px;margin-bottom: 15px;">
                                        <label for="name">Agência</label>
                                        <input type="text" name="AGENCIA_DEBITO_CONTA" maxlength="5" id="D44" class="form-control">
                                    </div>
                                    <div class="col-6 col-md-2" style="margin-top: 15px;margin-bottom: 15px;">
                                        <label for="name">Dígito Agência</label>
                                        <input type="text" name="DIGITO_AGENCIA_DEBITO_CONTA" maxlength="1" id="D45" class="form-control">
                                    </div>
                                    <div class="col-6 col-md-3" style="margin-top: 15px;margin-bottom: 15px;">
                                        <label for="name">Conta</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-6 col-md-2" style="margin-top: 15px;margin-bottom: 15px;">
                                        <label for="name">Dígito Conta</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="name">Limite de Crédito R$</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-6 col-md-3">
                                        <label for="name">Data Início Validade</label>
                                        <input type="date" name="DATA_INICIO_VALIDADE" class="form-control">
                                    </div>
                                    <div class="form-group col-4 col-md-3">
                                        <label for="name">Data Fim Validade</label>
                                        <input type="date" name="DATA_FIM_VALIDADE" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="name">Código do Banco</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="accordion4" class="container-fluid col-md-8"
                    style="margin-top: 10px; margin-bottom: 10px; padding: 20px;border-radius: 8px;border-left-width:5px;border-bottom-width:3px;border-right-width:3px;border-top-width: 3px;border-top-color:white;border-right: white;border-left-color: cornflowerblue;border-bottom-color: white; border-style: solid;background-color: white;">
                    <div class="card-header" id="headingFour">
                        <button disabled class="btn btn-outline-secondary dropdown-toggle" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"
                            style="border-color: whitesmoke;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            CONDIÇÕES COMERCIAIS
                        </button>
                    </div>
                    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"
                        data-parent="#accordion4">
                        <div class="card-body">
                            <div class="col-12 col-md-12">
                                <div class="card col-md-12"
                                    style="margin-bottom: 15px; margin-bottom: 15px; padding: 15px;">
                                    <div class="card" style="border-color: white; text-align: center;">
                                        <H5>Tarifas</H5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="name">Tarifa Mensal Preço de Lista</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" name="TARIFA_PRECO_LISTA" maxlength="11" id="D53" class="form-control">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">0,00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="name">Tarifa Mensal Bonificada</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" class="form-control">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">0,00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="name">Tarifa Adesão</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" name="TARIFA_ADESAO" id="D51" maxlength="11" class="form-control">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">0,00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="name">Tarifa Entrega</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" name="TARIFA_ENTREGA" id="D47" maxlength="11" class="form-control">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">0,00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="name">Tarifa Substituição da VeloeTag</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" name="TARIFA_VELOETAG" id="D49" maxlength="11" class="form-control">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">0,00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="name">Quantidade de Meses Isenção</label>
                                            <input type="text" name="QUANTIDADE_MESES_ISENCAO" id="D48" maxlength="2" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="name">Tarifa de Inativação</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" name="TARIFA_INATIVACAO" id="D52" maxlength="11" class="form-control">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">0,00</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="name">Tarifa de Devolução de Saldo</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" name="TARIFA_DEVOLUCAO_SALDO" id="D55" maxlength="11" class="form-control">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">0,00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <label for="name">Tarifa de Emissão de Extrato</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" name="TARIFA_EMISSAO_EXTRATO" id="D50" maxlength="11" class="form-control">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">0,00</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="name">Tarifa de Emissão Emergencial</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" name="TARIFA_EMISSAO_EMERGENCIAL" maxlength="11" id="D54" class="form-control">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">0,00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="name">Tarifa de Rescisão</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" class="form-control">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">0,00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="name">Cód Promocional</label>
                                            <input type="text" name="CODIGO_AUTORIZACAO" maxlength="10" id="D46" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="accordion5" class="container-fluid col-md-8"
                    style="margin-top: 10px; margin-bottom: 40px; padding-top: 20px;border-radius: 8px;border-left-width:5px;border-bottom-width:3px;border-right-width:3px;border-top-width: 3px;border-top-color:white;border-right: white;border-left-color: cornflowerblue;border-bottom-color: white; border-style: solid;background-color: white;">
                    <div class="card-header" id="headingSix">
                        <button disabled class="btn btn-outline-secondary dropdown-toggle" data-toggle="collapse"
                            data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix"
                            style="border-color: whitesmoke;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            ORIGEM DA VENDA
                        </button>
                    </div>
                    <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordion6">
                        <div class="card-body">
                            <div class="card col-md-12" style="padding: 15px;">
                                <div class="row" style="margin-top: 15px">
                                    <div class="col-6 col-md-4">
                                        <label for="name">Banco</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <label for="name">Agência</label>
                                        <input type="text" name="AGENCIA_VENDEU" id="D36" maxlength="5" class="form-control">
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <label for="name">Dígito</label>
                                        <input type="text" name="DIGITO_AGENCIA_VENDEU" id="D37" maxlength="1" class="form-control">
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 15px">
                                    <div class="col-6 col-md-4">
                                        <label for="name">DDD</label>
                                        <input type="text" name="DDD_VENDEDOR" id="D40" maxlength="5" class="form-control">
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <label for="name">Telefone</label>
                                        <input type="text" name="TELEFONE_VENDEDOR" id="D41" maxlength="12" class="form-control">
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <label for="name">Ramal</label>
                                        <input type="text" name="RAMAL_VENDEDOR" id="D42" maxlength="6" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8" style="margin-top: 15px">
                                        <label for="name">Nome do Vendedor</label>
                                        <input type="text" name="NOME_VENDEDOR" id="D39" maxlength="40" class="form-control">
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 15px">
                                    <div class="col-4 col-md-4">
                                        <label for="name">Código do Vendedor</label>
                                        <input type="text" name="CODIGO_VENDEDOR" id="D38" maxlength="20" class="form-control">
                                    </div>
                                    <div class="col-4 col-md-4">
                                        <label for="name">É um CPF o Código?</label>
                                        <select class="custom-select" name="CODIGO_CPF" id="inputGroupSelect04">
                                            <option selected> </option>
                                            <option value="S">S</option>
                                            <option value="N">N</option>
                                        </select>
                                    </div>
                                    <div class="col-4 col-md-4">
                                        <label for="name">Data de Assinatura do Contrato</label>
                                        <input type="date" name="DATA_CONTRATO" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-6 align-self-start">

                                    </div>
                                    <div class="col-5 align-self-center">
                                        
                                    </div>
                                    <div class="col-1 align-self-end">
                                        <button class="btn btn-primary" id="btn_sub" style="margin-top: 15px; margin-left: -40px;"><b>Finalizar</b></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
        </form>
    </div>

    <script>
        document.getElementById('D15').addEventListener('input', function (e) {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,3})(\d{0,3})(\d{0,4})(\d{0,2})/);
            e.target.value = !x[2] ? x[1] : x[1] + '.' + x[2] + '.' + x[3] + '/' + x[4] + (x[5] ? '-' + x[5] : '');
        });
        
        document.getElementById('D16').addEventListener('keyup', (ev) => {
            const input = ev.target;
            input.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[a-zA-Z0-9-" "]';
                if (char.match(pattern)) {
                    return true;
                }
            }
            input.value = input.value.toUpperCase();
        });

        document.getElementById('D17').addEventListener('keyup', (ev) => {
            const input = ev.target;
            input.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[a-zA-Z0-9-" "]';
                if (char.match(pattern)) {
                    return true;
                }
            }
            input.value = input.value.toUpperCase();
        });

        document.getElementById('D18').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D19').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D20').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D21').addEventListener('input', function (e) {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,3})(\d{0,2})/);
            e.target.value = !x[2] ? x[1] : x[1] + '.' + x[2] + '.' + x[3] + '-' + x[4];
        });

        document.getElementById('D22').addEventListener('keyup', (ev) => {
            const input = ev.target;
            input.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[a-zA-Z0-9-" "]';
                if (char.match(pattern)) {
                    return true;
                }
            }
            input.value = input.value.toUpperCase();
        });

        document.getElementById('D23').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D24').addEventListener('keyup', (ev) => {
            const input = ev.target;
            input.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[a-zA-Z0-9-" "]';
                if (char.match(pattern)) {
                    return true;
                }
            }
            input.value = input.value.toUpperCase();
        });

        document.getElementById('D25').addEventListener('keyup', (ev) => {
            const input = ev.target;
            input.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[a-zA-Z0-9-" "]';
                if (char.match(pattern)) {
                    return true;
                }
            }
            input.value = input.value.toUpperCase();
        });

        document.getElementById('D26').addEventListener('keyup', (ev) => {
            const input = ev.target;
            input.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[a-zA-Z0-9-" "]';
                if (char.match(pattern)) {
                    return true;
                }
            }
            input.value = input.value.toUpperCase();
        });

        document.getElementById('D27').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D28').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D29').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D30').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D31').addEventListener('keyup', (ev) => {
            const input = ev.target;
            input.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[a-zA-Z0-9-" "]';
                if (char.match(pattern)) {
                    return true;
                }
            }
            input.value = input.value.toUpperCase();
        });

        document.getElementById('D32').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D33').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D34').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });
        
        document.getElementById('D35').addEventListener('keyup', (ev) => {
            const input = ev.target;
            input.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[a-zA-Z0-9-" "]';
                if (char.match(pattern)) {
                    return true;
                }
            }
            input.value = input.value.toUpperCase();
        });

        document.getElementById('D36').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D37').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D38').addEventListener('keyup', (ev) => {
            const input = ev.target;
            input.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[a-zA-Z0-9-" "]';
                if (char.match(pattern)) {
                    return true;
                }
            }
            input.value = input.value.toUpperCase();
        });

        document.getElementById('D39').addEventListener('keyup', (ev) => {
            const input = ev.target;
            input.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[a-zA-Z0-9-" "]';
                if (char.match(pattern)) {
                    return true;
                }
            }
            input.value = input.value.toUpperCase();
        });

        document.getElementById('D40').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D41').addEventListener('keyup', (ev) => {
            const input = ev.target;
            input.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[a-zA-Z0-9-" "]';
                if (char.match(pattern)) {
                    return true;
                }
            }
            input.value = input.value.toUpperCase();
        });

        document.getElementById('D42').addEventListener('keyup', (ev) => {
            const input = ev.target;
            input.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[a-zA-Z0-9-" "]';
                if (char.match(pattern)) {
                    return true;
                }
            }
            input.value = input.value.toUpperCase();
        });

        document.getElementById('D43').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D44').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D45').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D46').addEventListener('keyup', (ev) => {
            const input = ev.target;
            input.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[a-zA-Z0-9-" "]';
                if (char.match(pattern)) {
                    return true;
                }
            }
            input.value = input.value.toUpperCase();
        });

        document.getElementById('D47').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9-","]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D48').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D49').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9-","]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D50').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9-","]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D51').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9-","]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D52').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9-","]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D53').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9-","]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D54').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9-","]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

        document.getElementById('D55').addEventListener('keyup', (ev) => {
            const input2 = ev.target;
            input2.addEventListener("keypress", function (e) {
                if (!checkChar(e)) {
                    e.preventDefault();
                }
            });
            function checkChar(e) {
                var char = String.fromCharCode(e.keyCode);

                console.log(char);
                var pattern = '[0-9-","]';
                if (char.match(pattern)) {
                    return true;
                }
            }
        });

    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>